:root {
    --bg-button:#ffffff;
    --border-button:solid 1px rgb(136, 136, 136);
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}
