:root {
    --bg-button:#ffffff;
    --border-button:solid 1px rgb(136, 136, 136);
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #cccccc;
  }
  
  .button.triple {
    grid-column: span 3;
  }
  
  .button.double {
    grid-column: span 2;
  }
  .button.operation {
    background-color: rgb(250, 130, 49);
    color: rgb(255, 255, 255);
  }
  
  .button.operation:active {
    background-color: rgba(250, 130, 49, 0.8);
  }